<mat-card class="cardWithShadow">
  <mat-card-header class="d-flex justify-content-between align-items-center p-t-l-24">
    <mat-card-title class="title">Resumen de solicitudes</mat-card-title>
    <div class="d-flex align-items-center">
      <mat-form-field appearance="outline" class="w-100 hide-hint mr-4">
        <!-- <input matInput placeholder="Buscar solicitud" (keyup)="applySearchFilter($any($event.target).value)" /> -->
        <mat-icon matSuffix>
          <i-tabler name="search" class="icon-20"></i-tabler>
        </mat-icon>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content class="p-y-8">
    <apx-chart
    [series]="chartOptions.series || []"
    [chart]="chartOptions.chart || { type: 'line' }"
    [dataLabels]="chartOptions.dataLabels || {}"
    [plotOptions]="chartOptions.plotOptions || {}"
    [yaxis]="chartOptions.yaxis || []"
    [legend]="chartOptions.legend || {}"
    [fill]="chartOptions.fill || {}"
    [stroke]="chartOptions.stroke || {}"
    [tooltip]="chartOptions.tooltip || {}"
    [xaxis]="chartOptions.xaxis || {}"
  ></apx-chart>
  </mat-card-content>
</mat-card>
