<div class="row">
  <div class="col-lg-8">
    <app-top-cards-interno (cardClick)="onCardClick($event)"></app-top-cards-interno>
    <ng-container *ngIf="selectedCard">
      <app-basic-table *ngIf="selectedCard === 'users'"></app-basic-table>
      <app-users-table *ngIf="selectedCard === 'digitadores'"></app-users-table>
      <app-webusers-table *ngIf="selectedCard === 'webService'"></app-webusers-table>
      <app-basic-table *ngIf="selectedCard === 'pendingRequests'"></app-basic-table>
    </ng-container>
    <app-basic-table *ngIf="!selectedCard"></app-basic-table>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12 col-sm-6 col-12" (click)="onCardClick('pendingRequests')">
        <mat-card class="cardWithShadow clickable-card">
          <mat-card-content class="d-flex align-items-center justify-content-start" style="height: 100%; padding-top: 16px; padding-bottom: 16px;">
            <span class="bg-light-primary rounded icon-40 d-flex align-items-center justify-content-center" style="margin-right: 24px;">
              <img src="assets/images/svgs/pending-request.svg" alt="icon" />
            </span>
            <div class="d-flex flex-column">
              <div class="user-details">
                <p class="mb-1"><strong>Solicitudes pendientes <strong>4</strong></strong></p>
                <p class="mb-1">Creacion: <strong>2</strong></p>
                <p class="mb-0">Activacion: <strong>1</strong></p>
                <p class="mb-0">Desactivacion: <strong>1</strong></p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12">
        <app-users-overview [selectedCard]="selectedCard || ''"></app-users-overview>
      </div>
    </div>
  </div>
</div>
