<mat-card-content>
  <hr class="mat-divider" style="border-color: rgb(252,183,164)">

  <div class="row">
    <mat-card-header>
      <h2>Datos del Usuario INTERNO</h2>
    </mat-card-header>
  </div>

</mat-card-content>


<mat-card-content>
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>DUI:</mat-label>
          <input type="text" matInput matNativeControl>
        </mat-form-field>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo">
        </mat-form-field>
      </div>


      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Organización</mat-label>
          <mat-select formControlName="perfil">
            <mat-option value="DGA">DGA</mat-option>
            <mat-option value="otros">otros</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tipo de Usuario:</mat-label>
          <mat-select formControlName="perfil">
            <mat-option value="">Interno</mat-option>
            <mat-option value="">Administracion</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-12" style="margin-bottom: 1.4rem;">
        Estado:
        <hr class="mat-divider" style="margin: 1rem 0 .8rem 0; border-color: rgb(237,237,237)">
      </div>


      <!--      Roles and levels debe ser otro componenete -->


      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol">
            <mat-option value="">Asesor</mat-option>
            <mat-option value="">Administrador de aduana</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Cargo:</mat-label>
          <mat-select formControlName="cargo">
            <mat-option value="">N/A</mat-option>
            <mat-option value="">Administrador de aduana</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nivel: 1</mat-label>
          <mat-select formControlName="nivel1">
            <mat-option value="">LOREM</mat-option>
            <mat-option value="">IPSUM</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nivel: 2</mat-label>
          <mat-select formControlName="nivel2">
            <mat-option value="">LOREM</mat-option>
            <mat-option value="">IPSUM</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nivel: 3</mat-label>
          <mat-select formControlName="nivel3">
            <mat-option value="">LOREM</mat-option>
            <mat-option value="">IPSUM</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nivel: 4</mat-label>
          <mat-select formControlName="nivel4">
            <mat-option value="">LOREM</mat-option>
            <mat-option value="">IPSUM</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!--      podria ser un range date-->

      <div class="col-lg-6">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Número de telefono</mat-label>
          <input matInput formControlName="telefono">
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Correo alternativo:</mat-label>
          <input matInput formControlName="correoAlternativo">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>
            Telefono móvil:
          </mat-label>
          <input matInput formControlName="movil">
        </mat-form-field>

      </div>


      <div class="col-lg-6">

        <mat-form-field>
          <mat-label>Fecha Inicio de Solicitud</mat-label>
          <input matInput [matDatepicker]="pickerInicioSolicitud">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerInicioSolicitud"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicioSolicitud></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Fecha Fin de Solicitud</mat-label>
          <input matInput [matDatepicker]="pickerFinSolicitud">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerFinSolicitud"></mat-datepicker-toggle>
          <mat-datepicker #pickerFinSolicitud></mat-datepicker>
        </mat-form-field>

      </div>


    </div>
    <hr class="mat-divider" style="margin-top: 1rem; border-color: rgb(252,183,164)">


    <div class="row">
      <mat-card-header>
        <h2>Perfil del Usuario</h2>
      </mat-card-header>

    </div>

    <div class="row">


      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="perfil">
            <mat-option value="">Value 1</mat-option>
            <mat-option value="">Value 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Aduana</mat-label>
          <mat-select formControlName="aduanaPerfil">
            <mat-option value="">Value 1</mat-option>
            <mat-option value="">Value 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="col-lg-6">
        <mat-form-field>
          <mat-label>Fecha Inicio de Sistema</mat-label>
          <input matInput [matDatepicker]="pickerInicio">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-lg-4">
        <mat-form-field>
          <mat-label>Fecha Fin de Sistema</mat-label>
          <input matInput [matDatepicker]="pickerFin">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>

      </div>


      <div class="col text-right">
        <button color="primary" mat-flat-button
                style="margin: 20px 0 0 0; padding: 1.5rem 2rem;">
          Agregar Item
        </button>
      </div>
    </div>


  </form>


</mat-card-content>


