<div class="col-lg-12">
  <div class="row">
    <div class="col-sm-4 col-lg-3 m-b-16">
      <mat-form-field appearance="outline" class="w-100 hide-hint">
        <input matInput (keyup)="applyFilter($event)" placeholder="Busqueda DGA:" #input/>
      </mat-form-field>
    </div>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="table-responsive m-t-30">
        <mat-table #table [dataSource]="dataSource">
          <ng-container [matColumnDef]="Header.DGA">
            <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              {{ Header.DGA }}
            </mat-header-cell>
            <mat-cell class="p-16 mat-body-1" *matCellDef="let element">
              {{ element.DGA }}
            </mat-cell>
          </ng-container>

          <ng-container [matColumnDef]="Header.Description">
            <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              {{ Header.Description }}
            </mat-header-cell>
            <mat-cell class="p-16 mat-body-1" *matCellDef="let element">
              {{ element.description }}
            </mat-cell>
          </ng-container>

          <ng-container [matColumnDef]="Header.State">
            <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              {{ Header.State }}
            </mat-header-cell>
            <mat-cell class="p-16" *matCellDef="let element">
              <span *ngIf="element.state === State.pending"
                    class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.state | titlecase }}
              </span>
              <span *ngIf="element.state === State.rejected"
                    class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.state | titlecase }}
              </span>
              <span *ngIf="element.state === State.approved"
                    class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ element.state | titlecase }}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container [matColumnDef]="Header.Date">
            <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              {{ Header.Date }}
            </mat-header-cell>
            <mat-cell class="p-16 mat-body-1 p-r-0 " *matCellDef="let element">
              {{ element.date }}
            </mat-cell>
          </ng-container>

          <ng-container [matColumnDef]="Header.Action">
            <mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              {{ Header.Action }}
            </mat-header-cell>
            <mat-cell class="p-16 mat-body-1 p-r-0" *matCellDef="let element">
              <mat-icon (click)="verMas(element)" class="cursor-pointer">visibility</mat-icon>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

</div>
