<div class="container">
  <div class="row">
    <!-- Sidebar with Form Index -->
    <div class="col-lg-3">
      <mat-card style="position: fixed; max-height: calc(100vh - 40px); overflow-y: auto; width: 15rem;">
        <mat-card-header>
          <mat-card-title>Índice de formularios</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let formulario of formularios.controls; let i = index" (click)="scrollToForm(i)"
                style="cursor: pointer; color: blue; text-decoration: underline;">
              Formulario {{ i + 1 }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>


      <mat-card class="upload-card ">
        <mat-card-header class="">
          <mat-card-title class="f-w-400 text-center">Adjuntar archivo</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="upload-area ">
            <mat-icon class="upload-icon">cloud_upload</mat-icon>

            <input type="file"
                   #fileInput
                   class="file-input"
                   accept=".pdf"
                   (change)="onFileSelected($event)"/>

           <div>
             <button mat-stroked-button
                     color="primary"
                     (click)="fileInput.click()">
               Subir archivo
             </button>
           </div>

            <p class="file-info">Solo archivos .pdf</p>
          </div>

          <div *ngIf="selectedFile" class="selected-file-container">
            <mat-icon class="file-icon">description</mat-icon>
            <span class="file-name">{{ selectedFile.name }}</span>
            <button mat-icon-button
                    class="remove-button"
                    (click)="removeFile()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>


    </div>

    <!-- Main Form Section -->
    <div class="col-lg-9">
      <div class="form-container">
        <ng-content select="[document-data-card]"></ng-content>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <div *ngFor="let formulario of formularios.controls; let i = index" class="col" [id]="'form-' + i">
                  <form [formGroup]="$any(formulario)">
                    <mat-card-content class="p-l-15 p-t-0">
                      <div class="row">
                        <mat-card-content class="p-l-0 p-t-0">
                          <h2>Formulario {{ i + 1 }}</h2>
                        </mat-card-content>
                      </div>

                      <div class="row">
                        <!-- Form Type Dropdown -->
                        <div class="col-lg-6 p-l-0 m-b-0">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Seleccione el tipo de formulario</mat-label>
                            <mat-select formControlName="tipo" (selectionChange)="updateSelectedTipoSolicitud(i)">
                              <mat-option *ngFor="let item of tiposSolicitud" [value]="item.id">{{
                                  item.value
                                }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-card-content>

                    <!-- Dynamically Load Child Component -->
                    <div *ngIf="formulario.get('childComponent')?.value">
                      <ng-container [ngSwitch]="formulario.get('childComponent')?.value">
                        <app-solicitud-externo *ngSwitchCase="'externo'" [formGroup]="$any(formulario.get('form'))">
                        </app-solicitud-externo>

                        <app-solicitud-interno *ngSwitchCase="'interno'" [formGroup]="$any(formulario.get('form'))">
                        </app-solicitud-interno>

                        <app-solicitud-afpa *ngSwitchCase="'afpa'" [formGroup]="$any(formulario.get('form'))">
                        </app-solicitud-afpa>

                        <p *ngSwitchDefault style="color: red;">⚠️ No component found for the selected request type.</p>
                      </ng-container>
                    </div>

                    <!-- User Subitems -->
                    <div formArrayName="usuarios" class="m-b-16">
                      <div *ngFor="let usuario of getUsuarios($any(formulario)).controls; let j = index" class="m-b-16">
                        <ng-container *ngIf="usuario as usuarioForm">
                          <app-solicitud-externo [formGroup]="asFormGroup(usuarioForm)"
                                                 [userIndex]="j"></app-solicitud-externo>

                          <button *ngIf="j === getUsuarios($any(formulario)).length - 1" mat-flat-button color="primary"
                                  (click)="addUsuario(i)">
                            Agregar Usuario
                          </button>
                          <!-- Remove User Button -->
                          <button *ngIf="getUsuarios($any(formulario)).length > 1" mat-flat-button
                                  (click)="removeUsuario(i, j)" color="warn"
                                  [class.m-l-16]="j === getUsuarios($any(formulario)).length - 1">
                            Borrar usuario {{ j + 1 }}
                          </button>

                          <button *ngIf="formularios.length !== 1" mat-flat-button color="warn" style="float: right;"
                                  (click)="removeFormulario(i)">
                            Borrar formulario
                          </button>
                        </ng-container>
                      </div>
                      <!-- Show when no users are present -->
                      <button *ngIf="getUsuarios($any(formulario)).length === 0 && formulario.get('tipo')?.value"
                              mat-flat-button color="primary" (click)="addUsuario(i)">
                        Agregar Usuario
                      </button>
                    </div>
                  </form>

                  <mat-divider *ngIf="i < formularios.length - 1" class="m-t-16"></mat-divider>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Add Form & Submit Buttons -->
      <div class="text-right m-t-16">
        <button mat-flat-button color="primary" (click)="addFormulario()">
          Agregar otro formulario
        </button>
        <button mat-flat-button color="accent" class="m-l-16" (click)="enviarFormulario()">
          Enviar solicitud
        </button>
      </div>
    </div>
  </div>
</div>
