<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <mat-card style="position: fixed; max-height: calc(100vh - 40px); overflow-y: auto;">
        <mat-card-header>
          <mat-card-title>Índice de formularios</mat-card-title>
        </mat-card-header>


        <mat-card-content>
          <ul>
            <li *ngFor="let formulario of formularios.controls; let i = index" (click)="scrollToForm(i)"
                style="cursor: pointer; color: blue; text-decoration: underline;">
              Formulario  {{ i + 1 }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

    </div>


    <div class="col-lg-9">
      <div class="form-container">


        <ng-content select="[document-data-card]"></ng-content>
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <div *ngFor="let formulario of formularios.controls; let i = index" class="col" [id]="'form-' + i">


                  <form [formGroup]="$any(formulario)">

                    <mat-card-content>

                      <div class="row">
                        <mat-card-content class="mt-2">
                          <h2 [ngStyle]="{'margin-top': i === 0 ? '0' : '-4px'}">Formulario {{ i + 1 }}</h2>
                        </mat-card-content>
                      </div>

                      <div class="row ">
                        <div class="col-lg-6">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Seleccione el tipo de formulario</mat-label>
                            <mat-select formControlName="tipo">
                              <mat-option value="solicitudCreacionUsuario">Solicitud de creación de usuario</mat-option>
                              <mat-option value="otroTipo">Otro tipo</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>UUID</mat-label>
                            <input class="text-gray-200" matInput formControlName="uuid" [disabled]="true">
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-card-content>


                    <div *ngIf="formulario.get('tipo')?.value === 'solicitudCreacionUsuario'">


                      <app-solicitud-interno [formGroup]="$any(formulario)"></app-solicitud-interno>
                    </div>
                    <div *ngIf="formulario.get('tipo')?.value === 'otroTipo'">
                      <!-- Add other form types here -->
                    </div>
                  </form>

                  <mat-card-content>

                    <div class="row">

                      <div class="col-lg-6">
                        <button *ngIf="formularios.length !== 1"   mat-flat-button (click)="removeFormulario(i)"
                                style="margin-top: 12px; padding: 1.5rem; background-color: #fa5a5a; color: white">
                          Borrar formulario
                        </button>
                      </div>

                      <!--                      items-->
                      <div class="col text-right">

                        <button color="primary" mat-flat-button
                                style="margin: 12px 4px; padding: 1.5rem;">
                          Agregar Item
                        </button>

                        <button mat-flat-button (click)="removeFormulario(i)"
                                style="margin: 12px 4px; padding: 1.5rem; background-color: #fa5a5a; color: white">
                          Eliminar Item
                        </button>

                      </div>

                    </div>

                  </mat-card-content>
                  <mat-divider *ngIf="i < formularios.length - 1"
                               style="margin-top: 16px; margin-bottom: -10px"></mat-divider>

                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>


      <div class="text-right m-t-16">
        <button mat-flat-button color="primary" (click)="addFormulario()" style="margin-right: 8px; padding: 1.5rem">
          Agregar otro
          formulario
        </button>
        <button mat-flat-button color="accent" style="padding: 1.5rem" (click)="sendRequest()">Enviar solicitud</button>

      </div>
    </div>
  </div>
</div>
