<div class="row">
  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="perfil">
        <mat-option value="">Value 1</mat-option>
        <mat-option value="">Value 2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="col-lg-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="perfil">
        <mat-option value="">Value 1</mat-option>
        <mat-option value="">Value 2</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

